{
  "plugins": [
    "dynamic-import-node",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@lib": "./lib",
          "@middlewares": "./middlewares",
          "@models": "./models"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env"]
}
